@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --colorPrimary: #343840;
  --colorSecondary: #212226;
  --colorTerciary: #A6A6A6;
  --colorContrast: #395d82;

  --colorDark: #00060D;
  --colorLight: #FEFEFE;

  --colorTextPrimary: #FEFEFE;
  --colorTextSecondary: #b5b5b5;
  --colorTextContrast: #395d82;

  --colorBackgroundModal: #000000bf;

  --backgroundGradient: linear-gradient(180.2deg, rgb(50, 51, 55) 6.8%, rgb(48, 60, 66) 131%);
}

.light {
  --colorPrimary: #46537e;
  --colorSecondary: #293149;
  --colorTerciary: #758ee0;
  --colorContrast: #7dbedb;

  --colorDark: #00060D;
  --colorLight: #FEFEFE;

  --colorTextPrimary: #00060D;
  --colorTextSecondary: #3b3b3b;
  --colorTextContrast: #4da2ca;

  --colorBackgroundModal: #000000bf;

  --backgroundGradient: linear-gradient(180.2deg, rgb(210, 210, 210) 6.8%, rgb(177, 177, 177) 131%);
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.ttf") format("opentype");
}

@font-face {
  font-family: "Monad";
  src: url("./fonts/Monad.otf") format("opentype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply transition-colors duration-200 ease-in-out;
  }
}

@import-normalize;